<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/general/assets/"
  data-template="vertical-menu-template-free"
>
  <head>


    


    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title><%- title -%></title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/general/assets/img/favicon/favicon.ico" />
   
      <!-- Diğer meta ve bağlantılar -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    
    

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/general/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/general/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/general/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/general/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/general/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/general/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/general/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/general/assets/js/config.js"></script>
  </head>
  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" data-bg-class="bg-menu-theme">
          <div class="app-brand demo">
            <a href="" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              
                </svg>
              </span>
              <span class=" menu-text fw-bolder ms-2">Computer Science</span>
            </a>
      
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>
      
          <div class="menu-inner-shadow"></div>
      
          <ul class="menu-inner py-1 ps ps--active-y">
            <!-- Submission -->
            <li class="menu-item active">
              <a href="/user/panel" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Ana Sayfa</div>
              </a>
            </li>
      
            <!-- Layouts -->
         
             
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Makale İşlemleri</span>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Makale İşlemleri</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/user/user-add-thesis" class="menu-link">
                    <div data-i18n="Account">Makale Ekle</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/user/makaleler" class="menu-link">
                    <div data-i18n="Notifications">Makaleler</div>
                  </a>
                </li>
               
                
                
              </ul>
            </li>
            
            
            <% if (FindUser.role !== 1) { %>
              <li class="menu-header small text-uppercase"><span class="menu-header-text">İncelenmesi Gereken Makaleler</span></li>
              <!-- Cards -->
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-dock-top"></i>
                  <div data-i18n="Account Settings">Makale İncele</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="/user/makaleInceleme" class="menu-link">
                      <div data-i18n="Account">Gelen Makale</div>
                    </a>
                  </li>
                </ul>
              </li>
            <% } %>
            
            
            
            <% if (FindUser.role === 3) { %>
              <li class="menu-header small text-uppercase"><span class="menu-header-text">Editor onayı bekleyen Makaleler</span></li>
              <!-- Cards -->
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-dock-top"></i>
                  <div data-i18n="Account Settings">Makale takibi</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="/user/makaleEditor" class="menu-link">
                      <div data-i18n="Account">Onay bekleyen makaleler</div>
                    </a>
                  </li>
                </ul>
              </li>
            <% } %>
            
            
          <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 4px; height: 404px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 237px;"></div></div></ul>
        </aside>




        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
               

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="/general/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="/general/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block"><%= FindUser.username %></span>
                            <% let roleText = ''; %>
                            <% if (FindUser.role === 1) { %>
                                <% roleText = 'Yazar'; %>
                            <% } else if (FindUser.role === 2) { %>
                                <% roleText = 'Hakem'; %>
                            <% } else if (FindUser.role === 3) { %>
                                <% roleText = 'Editör'; %>
                            <% } else { %>
                                <% roleText = 'Bilinmeyen Rol'; %>
                            <% } %>
                            
                            <small class="text-muted"><%= roleText %></small>
                            
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">Profilim</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Ayarlar</span>
                      </a>
                    </li>
                    <li>
                   
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/logout">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Çıkış Yap</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>
        
          <!-- / Navbar -->

<%-body %>
   
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/general/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/general/assets/vendor/libs/popper/popper.js"></script>
    <script src="/general/assets/vendor/js/bootstrap.js"></script>
    <script src="/general/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/general/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/general/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/general/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/general/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>