
    
        <div class="layout-page">
         
            <div class="container-xxl flex-grow-1 container-p-y">
                
  
                <!-- Basic Layout -->
                <div class="row">
                  <div class="col-xl">
                    <div class="card mb-4">
                      <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">Create New Role</h4>
                       
                      </div>

                      
                         <div class="card-body">
                        <form>
                          <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Role Name</label>
                            <input type="text" class="form-control" id="basic-default-fullname" placeholder="John">
                          </div>

                          <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Abbreviation</label>
                            <input type="text" class="form-control" id="basic-default-fullname" placeholder="Doe">
                          </div>
                          <br>

                          <div class="mt-2 mb-3">
                            <label for="largeSelect" class="form-label">Permission level*</label>
                            <select id="largeSelect" class="form-select form-select-lg">
                              <option>Journal Manager</option>
                              <option value="1">Section Editor</option>
                              <option value="2">Asistant</option>
                              <option value="3">Author</option>
                              <option value="4">Reviewer</option>
                              <option value="5">Reader</option>
                              <option value="6">Subscription Manager</option>




                            </select>
                          </div>

                          <br>
                          <div class="col-md">
                            <h4>Role Options</h4>
                            <div class="form-check mt-3">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="form-check-label" for="defaultCheck1"> Show role title in contributor list</label>
                            </div>
                            <br>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked="">
                              <label class="form-check-label" for="defaultCheck2"> Allow user self-registration </label>
                            </div>
                            <br>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" checked="">
                              <label class="form-check-label" for="defaultCheck3"> This role is only allowed to recommend a review decision and will require an authorised editor to record a final decision. </label>
                            </div>
                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" checked="">
                                <label class="form-check-label" for="defaultCheck3">  Permit submission metadata edit. </label>
                              </div>
                      
                            
                          </div>
                        
                          
                         
                       
                          <br>
                         
                           
                           
                       
                           <br><br>
                          <button type="submit" class="btn btn-primary" >Save</button>  <button type="submit" class="btn btn-danger">Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>



          

          <!-- / Navbar -->

          <!-- Content wrapper -->
         
          <!-- Content wrapper -->
        
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

  
     
    <div class="buy-now">
      <a href="#" target="_blank" class="btn btn-warning btn-buy-now">Help</a>
    </div>



    
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

  </body>
</html>
