
       
            <div class="layout-page">
                <div class="card m-5 mt-0">


                    <hr class="my-0">
                    <div class="card-body">
                        <form id="formAccountSettings" method="POST" onsubmit="return false">

                            <h4>Principal Contact</h4>
                            <p>Enter contact details, typically for a principal editorship, managing editorship, or
                                administrative staff position, which can be displayed on your publicly accessible
                                website</p>
                            <br>

                            <div class="row">

                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Name</label>
                                    <input class="form-control" type="text" id="firstName" name="firstName"
                                        value="Burhan Selçuk" autofocus="">
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input class="form-control" type="text" id="email" name="email"
                                        value="ctc@karabuk.edu.tr" placeholder="john.doe@example.com">
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="phoneNumber">Phone Number</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">+90</span>
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                                            value="370 418 7180 " placeholder="202 555 0111">
                                    </div>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="state" class="form-label">Affiliation</label>
                                    <input class="form-control" type="text" id="state" name="state"
                                        value="Karabuk University" placeholder="California">
                                </div>

                                <div>
                                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>

                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6">
Karabük Universty
Demir-Celik Campus
Egineering Faculty
Department of Computer Engineering
78050 KARABÜK </textarea>
                                </div>



                            </div>

                        </form>
                        <br><br><br><br>


                        <form id="formAccountSettings" method="POST" onsubmit="return false">

                            <h4>Technical Support Contact</h4>
                            <p>A contact person who can assist editors, authors and reviewers with any problems they
                                have submitting, editing, reviewing or publishing material.</p>
                            <br>

                            <div class="row">

                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Name</label>
                                    <input class="form-control" type="text" id="firstName" name="firstName"
                                        value="Omar DAKKAK" autofocus="">
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input class="form-control" type="text" id="email" name="email"
                                        value="omardakkak@karabuk.edu.tr" placeholder="john.doe@example.com">
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="phoneNumber">Phone Number</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">+90</span>
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                                            value="+90 370 418 7280 " placeholder="202 555 0111">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                <button type="reset" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
            </div>



        </div>
        <!-- / Layout wrapper -->



        <div class="buy-now">
            <a href="#" target="_blank" class="btn btn-warning btn-buy-now">Help</a>
        </div>




        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
       
</body>

</html>