
        <div class="layout-page">
          <div class="nav-tabs mb-4">
            <ul class="nav nav-tabs nav-fill" role="tablist">
              <li class="nav-item">
                
              </li>
            </ul>
            <div class="tab-content">
              
              <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">
                <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
                  <div class="container-sm">
                    <span style="font-size: larger; color: black;">Article Statistic</span>
                    </div>
                  </nav>
               
                  <div class="card">
                    
                    
                    <div class="card-body">
                      <div class="table-responsive text-nowrap">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Submission</th>
                              <th>Review</th>
                              <th>Copyediting</th>
                              <th>Production</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              
                              <td><span>(1)</span></td>
                              <td><span>(1)</span></td>
                              <td><span>(1)</span></td>
                              <td><span>(1)</span></td>
                            
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              </div>

              
             
              </div>

            
          </div>

        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <div class="buy-now">
      <a href="#" target="_blank" class="btn btn-warning btn-buy-now">Help</a>
    </div>
    
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
   
    
  </body>
</html>